.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background: linear-gradient(to top right, rgb(150, 255, 97), rgb(195, 255, 165));
    color: black;
}

.logo img {
    width: 100px;
    /* Adjust the width as needed */
    height: auto;
}

.header-text {
    margin-left: 10px;
}

.header-text h1 {
    margin: 0;
    font-size: 24px;
}

.header-text p {
    margin: 0;
    font-size: 16px;
}

#main-Content {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    margin: 0;
    /* background-color: #f2f2f2; */
    background: linear-gradient(to top right, rgb(150, 255, 97), rgb(195, 255, 165));
    flex-direction: column;
}

.container {
    width: 800px;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #c3ff00;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.bar {
    /* By default height of bars for initially proceed with the project */
    /* height: 300px; */

    /* height should be in between 0 to 400px */
    width: 20px;
    margin: 0 2px;
    background-color: #4287f5;
    transition: height 0.2s;
}



.manipulation-Section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background: linear-gradient(to top right, rgb(150, 255, 97), rgb(195, 255, 165));
    color: #fff;
    column-gap: 40px;
}

.selectAlgoForm {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    margin: 0;
    /* background-color: #f2f2f2; */
    flex-direction: row;
    column-gap: 40px;
    /* opacity: 0; */
    /* display: none; */
}

.hidden {
    display: none;
}

label {
    color: black;
    /* Change the color to your desired color */
}